@media only screen and (min-width: 200px) and (max-width: 576px){
  .banner-container{
    flex-direction: column;
    padding: 0px 5px;
    margin-bottom: 20px;
  }
  .banner-title h1 {
    font-size: 50px;
  }
  .banner-title {
    padding: 20px;
  }

  /* banner close */

  .flower-conainer{
    padding: 0px 5px;
  }
  .flower-section{
    grid-template-columns: auto;
  }
  .flower-title h1{
    font-size: 25px;
  }
  .flower img {
    width: 100%;
  }
  
  /* --------------- */

  .feature-flower{
    flex-direction: column;
  }

}