.banner-container {
  background: #FCEEF1;
  padding: 10px 60px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-container img{
  width: 100%;
}
.banner-title h1 {
  font-size: 60px;
  padding-bottom: 15px;
}
.banner-title p{
  font-size: 18px;
  padding-bottom: 20px;
}
.banner-title button {
  background-color: #E55473;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 10px;
}
/* ---banner section close -------*/


.flower-container {
  margin: 60px 0px 40px;
  padding: 0px 60px;
}
.flower-title {
  text-align: center;
}
.flower-title h1 {
  font-size: 40px;
  padding-bottom: 15px;
}
.flower-title p {
  color: gray;
}
.flower-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
}
.flower{
  text-align: center;
}
.flower h4 {
  padding: 10px;
}
.flower p{
  color: #E55473;
}
/* -------------------------------------- */


.flower-feature{
  margin: 50px 0px 40px;
  padding: 0px 50px;
}
.feature-flower{
  text-align: center;
  padding-top: 50px;
  display: flex;
  gap: 20px;
  
}
.flower-f img{
  background: rgb(234, 232, 232);
  width: 100%;
  border-radius: 40%;
}
.flower-f h4, p{
  padding-top: 10px;
}
.flower-f p{
  color: #E55473;
}